# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Next.js & Builds
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# Local env files
.env*.local
.env
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

